:root {
    --primary-color:#7138C7;
    --btn-color:#8EC738;
}
* {
margin:0px;
padding: 0px;
}
body,html {
   height:100%;
}
img {
    height:12rem;
    padding: 0.5rem 2rem;
}
header { 
    border-bottom-left-radius: 1rem;
    background-color:var(--primary-color);
    padding: 1rem 0.5rem;
    text-align: center;
    color:white;
}
.container { 
    padding: 2rem 0.5rem;
    background-image: url(https://media.shakespeare.org.uk/images/The_Shakespeare_Birthplace_Tr.b283bad5.fill-1200x600-c75.jpg);
    object-fit: cover;
}
.container-center {
    max-width:600px;
    margin:auto;     
}
#btn-translate { 
    color:white;    
    background-color:var(--btn-color);    
    padding:0.5rem 0.5rem;
    border-radius: 0.5rem;
    border:1px solid var(--btn-color);
    font-family:;
}
.textdes{
     height:9rem;
     width:80%;
     border:1px solid #2563EB;
 }
 .footer-des { 
    margin:0px;
    padding: 0rem 0rem;
    }
 footer {
    display:block;
    border-top-right-radius: 2rem;
    background-color:var(--primary-color);
    padding: 1rem 0rem;
    text-align: center;
    color:white;
    min-height:10vh;
 }