:root {
    --primary-color:#7138C7;
    --btn-color:#8EC738;
}
body,html {
    margin:0px;
    padding:0px;
}
.image {
    padding:;
    width:100px;
    margin:auto;
}
img {
    height:6rem;
}
header { 
    height:rem;
    border-bottom-left-radius: 1rem;
    background-color:var(--primary-color);
    padding: 1rem 0.5rem;
    text-align: center;
    color:white;
}
.container {
    height:32rem ;
    padding: 2rem 0.5rem;
}
.container-center {
    padding: 2rem 0.5rem;
    width:50%;
    margin:auto;     
}
#btn-translate { 
    color:white;    
    background-color:var(--btn-color);    
    padding:0.5rem 0.5rem;
    border-radius: 0.5rem;
    border:1px solid var(--btn-color);
    font-family:;
}
.textdes{
     height:8rem;
     width:70%;
     border:1px solid #2563EB;
 }
 .footer-des { 
    margin:0px;
    padding: 0rem 0rem;
    }
 footer {
    display:block;
    border-top-right-radius: 2rem;
    background-color:var(--primary-color);
    padding: 1rem 0rem;
    text-align: center;
    color:white;
    min-height:10vh;
 }